<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html,body{
        margin: 0;
        padding: 0;
      }
      button{
        cursor: pointer;
        outline: none;
      }
      input{
        outline: none;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
