<template>
    <div class="main">
        <h1>Home works</h1>
    </div>
</template>
<style scoped>
.main{
    height: 1000px;
    width: 60%;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
</style>
<script>


export default {
  name: 'Home',
  components: {
    
  }
}
</script>
