<template>
    <div class="sidebar_left">
            <div class="sidebar_logo">
                <div class="logo">
                    <img src="../assets/O.png" alt="">
                </div>
                <div class="logo_text">
                    <p>Ohara</p>
                </div>
                
            </div>
            
            <div class="join_button">
                <button class="button">
                    Join a course
                </button>
            </div>
            <div class="sidebar_left_menu" > 
                <router-link to="/Dashboard" exact class="link"> 
                    <div class="sidebar_left_menu_icons">
                        <!-- <img src="../assets/dash.png" alt="">  -->
                        <i class="fas fa-border-all"></i>
                        <p>Dashboard</p>
                    </div>
                </router-link>
                <router-link to="/AllCourses" exact class="link">
                    <div class="sidebar_left_menu_icons active">
                        <!-- <img src="../assets/all.png" alt=""> -->
                        <i class="far fa-window-restore"></i>
                        <p class="active">All Courses</p>
                    </div>
                </router-link>
                <router-link to="/Resources" exact class="link ">
                    <div class="sidebar_left_menu_icons">
                        <!-- <img src="../assets/resour.png" alt=""> -->
                        <i class="far fa-folder"></i>
                        <p>Resources</p>
                    </div>
                </router-link>
                 <router-link to="/Friends" exact class="link">
                    <div class="sidebar_left_menu_icons">
                        <!-- <img src="../assets/profile.png" alt=""> -->
                        <i class="far fa-user"></i>
                        <p>Friends</p>
                    </div>
                </router-link>
                <router-link to="/Chats" exact class="link"> 
                    <div class="sidebar_left_menu_icons">
                        <!-- <img src="../assets/chats.png" alt=""> -->
                        <i class="far fa-comment-alt"></i>
                        <p>Chats</p>   
                    </div>
                </router-link>
                <router-link to="/Settings" exact class="link">
                    <div class="sidebar_left_menu_icons">
                        <!-- <img src="../assets/settings.png" alt=""> -->
                        <i class="fas fa-cog"></i>
                        <p>Settings</p> 
                    </div>
                </router-link>
            </div>
            <div class="sidebar_left_upgrade">
                <img class="frame" src="../assets/Frame.png" alt="">
                <div class="sidebar_left_upgrade_text">
                    <p>Upgrade to for more resources</p>
                </div>
                <button class="sidebar_left_upgrade_button">Upgrade</button>
            </div>
            
        </div>
</template>
<script>
import Dashboard from '../views/Dashboard'
import Main from '../views/Main'
import Resources from '../views/Resources'
import Friends from '../views/Friends'
import Chats from '../views/Chats'
import Settings from '../views/Settings'
export default {
    //  data:()=>{
    //     return{
    //         list:
    //             [
    //                 {
    //                 title:"Dashboard",
    //                 open:false,
    //                 src: require('@/assets/dash.png')
    //                 },
    //                 {
    //                 title:"All Courses",
    //                 open:false,
    //                 src: require('@/assets/all.png')
    //                 },
    //                 {
    //                 title:"Resources",
    //                 open:false,
    //                 src: require('@/assets/resour.png')
    //                 },
    //                 {
    //                 title:"Friends",
    //                 open:false,
    //                 src: require('@/assets/profile.png')
    //                 },
    //                 {
    //                 title:"Chats",
    //                 open:false,
    //                 src: require('@/assets/chats.png')
    //                 },
    //                 {
    //                 title:"Settings",
    //                 open:false,
    //                 src: require('@/assets/settings.png')
    //                 }
    //             ],
                
    //     }
    // }
}
</script>
<style scoped>

.link{
    text-decoration: none;
}
.sidebar_left{
    height: 1000px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar_logo{
    margin-top: 30px;
    display: flex;
    width: 128px;
    height: 50px;
    align-items: center;
}
.logo{
    /* margin-top: 30px; */
    width:50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #5E81F4;
}
.logo_text{
    width: 91px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_text p{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #5E81F4;

}
.button{
    width: 182px;
    height: 38px;
    margin-top:40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background: #5E81F4;
    border-radius: 10px ;
    border: none;
    color: white;
    text-align: center;
}
.button:hover, .sidebar_left_upgrade_button:hover{
    color: #5E81F4;
    background: rgba(94, 129, 244, 0.2);
}

.sidebar_left_menu{
    margin-top: 25px;
    width: 50%;
    float: inline-start;
}
.sidebar_left_menu_icons{
    display: flex;
    margin-top: 25px;
}
.sidebar_left_menu p{
    margin-left: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #8DA1B5;
}
.sidebar_left_menu i{
    color: #8DA1B5;
}
.router-link-active p,
.router-link-exact-active p {
   color: black;
   font-weight: bold;
   cursor: pointer;
 }
 .router-link-active .sidebar_left_menu_icons i,
.router-link-exact-active .sidebar_left_menu_icons i {
   color: #5E81F4;
  
   
 }
.sidebar_left_upgrade{
    margin-top: 70px;
    width: 180px;
    height: 210px;
    background: #F5F5FB;
    border-radius: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame{
    margin-top: -40px;
}
.sidebar_left_upgrade_text{
    margin-top: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #778DAD;
    /* text-align: start; */
}
.sidebar_left_upgrade button{
    margin-top: 15px;
    width: 134px;
    height: 38px;
    background: #5E81F4;
    border-radius: 10px;
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
</style>